/* header styles */
header{
    background: white;
    padding: 10px;
}
.icon
 {
    width: 16px;
    height: 16px;
  }
.logo{
    margin: 0;
    display: flex;
    position: left;
    align-items: center;
    padding: 15px;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul > li{
    list-style: none;
    margin: 0 10px;
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-title{
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    position: relative;
    margin-top: 0px;
}
h1 {
    margin: 0;
    font-size: 24px;
  }
.text-pink{
    color: #ff00ff;
}

.button a {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
 
    
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: none;
   border-radius: 48px;
   background-color: #FF42A5; 
   color: white;
    font-size: 18px;
   padding: 16px 32px;
    text-align: center;
   text-decoration: none;
 
}
.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
  border-radius: 48px;
  background-color: #4EC5F7;; 
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
 
}
.btn + .btn-2{
    margin-left: 20px;
}
/* banner styles */

.banner-content{
    display: flex;
    justify-content: center;
    /* width:50%;
    padding: 30px;
    margin-top: 20px;
    margin-left: 10px; */
}
.banner-content{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-inline: 10px;
}
.banner-goat{
    display: flex;
    justify-content: left;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center  ;
    margin-top: 20px;
}
.banner-description{
    display: flex;
    justify-content: left;
    padding: 50px;
}

.banner-img{
   display: flex;
    justify-content: right;
    margin-top: -120px;
    margin-left: 100px;
}
   .banner-btn{
         display: flex;
         justify-content: left;
         color: #fffafd;
         
   }

.section-title{
    display: flex;
}
.section-text{
    display: flex;
    
}

/* Features */
.features{
    display: flex;
    justify-content:center;
    margin-top: 130px;
    width: 100%;
}
.text-purple-3{
    color: #F948B2;
}
.Badge-img{
    border-radius: 8px;
width: 318.5px;
position: relative;
bottom: 200px;

}
.section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.text-purple-2{
    color:#F948B2 ;
}

    .section-title{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        padding: 30px;
        
    
    }

    .games-img-container{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        flex: wrap;
        text-align: center;
    }
    .online-games-content{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        flex: wrap;
    }
    /* footer */

    footer{
        background:  #0B0223;
        padding: 10px;
        margin-top: 100px;

    }
    .text-white{
        color: #fffafd;
        
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }
    .logo{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        position: middle;
        align-items: center;
        padding: 30px;
    }
    .text-purple-1{
        color: #F948B2;
    }
    .footer-section{
        display: flex;
        justify-content:center;
        align-items: center;
     
       
    }
    .footer-section ul{
        display: flex;
        justify-content:center;
        align-items: center;
     
       
    }
    .footer-section ul li a{
        color:#fffafd;
        list-style: none;
        margin: 20px;
        text-decoration: none;

        
    }
    .social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .social-icons a{
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        
    }
    .social-icons a:hover{
        background: #F948B2;
        color: #fffafd;
    }
    .condition{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    .condition ul{
        display: flex;
        justify-content:center;
       
    }
    .condition ul li a{
        color:#fffafd;
        list-style: none;
        margin: 20px;
        text-decoration: none;

        
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        color:aliceblue;
    }
    /* responsive for devices */
   @media screen and (max-width: 562px){
    .logo{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .nav-links{
        display: flex;
        text-align: left;
        justify-content: left;
    }
       .games-container{
           flex-direction: column;
           align-items: center;
       }
       .online-games-content{
           flex-direction: column;
           align-items: center;
       }
       .features{
           flex-direction: column;
           align-items: center;
       }
       .section-text{
           width: 100%;
       }
       .games-img-container{
           flex-direction: column;
           align-items: center;
       }
       .footer-container{
           flex-direction: column;
           align-items: center;
       }
       .footer-section{
           flex-direction: column;
           align-items: center;
       }
       .condition{
           flex-direction: column;
           align-items: center;
       }
   }
    
   